@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-Text.ttf') format('truetype');
}

@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SukhumvitSet';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/SukhumvitSet-Bold.ttf') format('truetype');
}

body {
  font-family: 'Sukhumvit', Merriweather, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(17, 24, 39);
  color: white;
}

/* Hide scrollbar */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: 2px 2px 10px #0f0f0f;
}